.movies-card-list {
  padding: 70px 0 0;
  margin: 0;
  list-style: none;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 37px;
}

@media screen and (max-width: 820px) {
  .movies-card-list {
    padding: 0;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 29px;
    grid-column-gap: 30px;
  }
}
@media screen and (max-width: 530px) {
  .movies-card-list {
    padding: 0;
    grid-template-columns: 1fr;
    grid-row-gap: 32px;
  }
}
.movies-card-list__button {
  width: 320px;
  height: 37px;
  border: 1px solid var(--bgcolor-medium);
  background-color: white;
  padding: 0px 0 0px 0;
  margin: 59px 0 70px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 7px;
  font-family: var(--font-family);
}
@media screen and (max-width: 820px) and (min-width: 530px) {
  .movies-card-list__button {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 530px) {
  .movies-card-list__button {
    margin-top: 59px;
    margin-bottom: -68px;
    width: 240px;
  }
}
.movies-card-list__button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
