.section-title {
  display: block;
  width: 100%;
  border-bottom: 1px solid black;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  padding: 0px 0 30px;
}
