.profile {
  width: 410px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 74px;
}
.profile__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}
.profile__form {
  display: flex;
  flex-direction: column;
  padding-top: 123px;
}
.profile__text {
  display: grid;
  padding: 16px 0 0;
  grid-template-columns: 30% 70%;
  width: 100%;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}
.profile__text:nth-of-type(1) {
  padding: 0 0 16px;
  border-bottom: 1px solid var(--bgcolor-medium);
}
.profile__form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.profile__form-submit {
  margin: 32px 0 16px;
  padding: 0;
  height: 45px;
  width: 45%;
  max-width: 396px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 3px;
  opacity: 0.8;
  transition: all 0.5s ease;
  cursor: pointer;
}
.profile__form-submit:hover {
  text-decoration: underline;
  opacity: 1;
}
.profile__form-submit_disabled {
  background-color: white;
  color: black;
  border: 1px solid black;
  opacity: 0.8;
}
.profile__form-input {
  text-align: right;
  background-color: inherit;
  border: none;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}
.profile__links {
  display: flex;
  flex-direction: column;
  padding-top: 220px;
}
.profile__link {
  padding: 8px 0 8px;
  margin: 0;
  border: none;
  background-color: inherit;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.profile__link:hover {
  opacity: 0.8;
}
.profile__link_color_red {
  color: #ff4062;
}
