.profile {
  width: 410px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 54px;
}
@media screen and (max-width: 820px) {
  .profile {
    padding-top: 216px;
  }
}
@media screen and (max-width: 530px) {
  .profile {
    width: 100%;
    padding: 0 30px;
  }
}
.profile__title {
  margin: 0;
  padding: 20px 0 0 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}
@media screen and (max-width: 820px) {
  .profile__title {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 530px) {
  .profile__title {
    padding: 70px 0 4px 0;
  }
}
.profile__form {
  display: flex;
  flex-direction: column;
  padding-top: 123px;
}
@media screen and (max-width: 820px) {
  .profile__form {
    padding-top: 77px;
  }
}
@media screen and (max-width: 530px) {
  .profile__form {
    padding: 76px 30px 0;
  }
}
.profile__text {
  display: grid;
  padding: 16px 0 0;
  grid-template-columns: 30% 70%;
  width: 100%;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
}
.profile__text:nth-of-type(1) {
  padding: 0 0 16px;
  border-bottom: 1px solid var(--bgcolor-medium);
}
.profile__form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.profile__form-submit {
  margin: 32px 0 16px;
  padding: 0;
  height: 45px;
  width: 45%;
  max-width: 396px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 3px;
  opacity: 0.8;
  transition: all 0.5s ease;
  cursor: pointer;
  text-decoration: none;
}
.profile__form-submit:hover {
  opacity: 1;
}
.profile__form-submit:disabled {
  background-color: white;
  color: black;
  border: 1px solid black;
  opacity: 0.8;
  cursor: default;
}
.profile__form-input {
  text-align: right;
  background-color: inherit;
  border: none;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}
.profile__links {
  display: flex;
  flex-direction: column;
  padding-top: 212px;
}
@media screen and (max-width: 820px) {
  .profile__links {
    padding-top: 201px;
  }
}
@media screen and (max-width: 530px) {
  .profile__links {
    padding-top: 370px;
  }
}
.profile__link {
  padding: 8px 0 8px;
  margin: 0;
  border: none;
  background-color: inherit;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  cursor: pointer;
  transition: all 0.5s ease;
  font-family: var(--font-family);
  text-align: center;
  text-decoration: none;
}
.profile__link:hover {
  opacity: 0.8;
}
@media screen and (max-width: 820px) {
  .profile__link {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
  }
}

.profile__link_color_red {
  color: #ff4062;
}
