.profile {
  width: 410px;
  display: grid;
  align-items: center;
  justify-content: flex-start;
  grid-template-columns: 1fr;
}
.profile__form {
  display: flex;
  flex-direction: column;
}
.profile__text {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.profile__text:nth-of-type(1) {
  border-bottom: 1px solid var(--bgcolor-medium);
}
.profile__links {
  display: flex;
  flex-direction: column;
}
.profile__link {
  padding: 8px 0 8px;
  margin: 0;
  border: none;
  background-color: inherit;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.profile__link:hover {
  opacity: 0.8;
}
.profile__link_color_red {
  color: #ff4062;
}
