.popup {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  background-color: rgba(0, 0, 0, 0.7);
  transition: visibility 0.3s, opacity 0.3s linear, top 0.3s;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup__container {
  border-radius: 10px;
  position: relative;
  max-width: 430px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 680px) {
  .popup__container {
    max-width: 382px;
  }
}
@media screen and (max-width: 390px) {
  .popup__container {
    max-width: 282px;
  }
}
.popup__container_image {
  max-width: 75vw;
  max-height: 75vh;
  min-width: 240px;
  background-color: transparent;
}
.popup__close {
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0);
  background-image: url('../../images/close-btn.svg');
  background-position: center center;
  background-repeat: no-repeat;
  transition: opacity 0.5s;
  cursor: pointer;
  border: none;
  overflow: hidden;
}
.popup__close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 680px) {
  .popup__close {
    top: -36px;
    right: 0px;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-position: center center;
    background-repeat: no-repeat;
  }
}
.popup_opened {
  visibility: visible;
  opacity: 1;
  top: 0%;
}
.popup__fig {
  margin: 0;
  padding: 0;
}
.popup__image {
  max-width: 75vw;
  max-height: 75vh;
  object-fit: contain;
  vertical-align: middle;
  object-position: center;
}
.popup__description {
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}

.popup_type_notify {
  display: flex;
}
.popup__notify-image {
  margin: 0 auto;
  display: block;
  padding: 60px 0 32px;
  box-sizing: border-box;
}
@media screen and (max-width: 368px) {
  .popup__notify-image {
    padding: 50px 0 40px;
  }
}
