.page {
  background-color: var(--bgcolor-main);
  min-height: 100vh;
  font-family: 'Inter', Arial, Helvetica,
    sans-serif;
  min-width: 320px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1280px;
}
