.navigation {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
@media screen and (min-width: 820px) {
  .navigation {
    display: none;
  }
}
.navigation__inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.navigation__links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  column-gap: 16px;
  flex-grow: 1;
  justify-content: center;
  margin-left: 59px;
}

.navigation__links-item_type_only-mobile {
  display: none;
}

.navigation__link {
  color: var(--textcolor-main);
  text-decoration: none;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.navigation__link_active {
  font-weight: 500;
}

.navigation__link:hover {
  opacity: 0.7;
}

.navigation__link_type_with-icon {
  display: flex;
  align-items: center;
  column-gap: 13px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.navigation__link-icon {
  background-color: #f9f9f9;
  width: 10px;
  height: 10px;
  border-radius: 6px;
  background-image: url('../../images/profile-icon.svg');
  background-repeat: no-repeat;
  background-position: center center;
  padding: 10px;
}

@media screen and (max-width: 820px) {
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 5;
    display: flex;
    justify-content: right;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease, visibility 0.4s;
  }

  .navigation_visible {
    opacity: 1;
    visibility: visible;
  }

  .navigation__inner {
    z-index: 10;
    background-color: var(--bgcolor-main);
    flex-basis: 520px;
    box-sizing: border-box;
    z-index: 10;
    padding: 159px 90px 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transform: translateX(100%);
    transition: transform 0.2s ease;
  }

  .navigation__inner_visible {
    transform: translateX(0);
  }

  .navigation__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 28px;
    margin-left: 0;
  }

  .navigation__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    position: relative;
  }

  .navigation__link_active::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--textcolor-main);
    position: absolute;
    bottom: -6px;
    right: 0;
  }

  .navigation__links-item_type_only-mobile {
    display: block;
  }

  .navigation__link_type_with-icon {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
}

@media screen and (max-width: 520px) {
  .navigation__inner {
    padding: 144px 10px 48px;
  }

  .navigation__links {
    row-gap: 24px;
  }

  .navigation__link_active::after {
    bottom: -9px;
  }
}
