.search-form {
  width: 100%;
  display: grid;
  grid-template-columns: calc(100% - 80px) auto;
  grid-template-rows: 48px auto;
  justify-items: center;
  grid-column-gap: 10px;
  border-radius: 4px;
  align-items: center;
  padding: 80px 0 10px;
}
.search-form__input {
  background-color: #f9f9f9;
  width: 100%;
  border: none;
  padding-left: 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #a0a0a0;
  box-sizing: border-box;
  height: 48px;
}
@media screen and (max-width: 530px) {
  .search-form__input {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    padding-left: 18px;
  }
}
.search-form__submit {
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  background-color: black;
  border-radius: 40px;
  color: white;
  border: none;
  height: 44px;
  cursor: pointer;
}
.search-form__submit:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.search-form__submit:disabled {
  opacity: 0.5;
  cursor: default;
}
.search-form__checkbox {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: black;
}
