.header {
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  box-sizing: border-box;
  width: 100%;
  position: relative;
}
@media screen and (max-width: 820px) {
  .header {
    padding: 0 30px;
  }
}
@media screen and (max-width: 530px) {
  .header {
    padding: 0 14px;
  }
}
.header__nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 820px) {
  .header__nav-links {
    justify-content: space-between;
  }
}
.header__nav-links_hidden_pc {
  width: 100%;
}
@media screen and (min-width: 821px) {
  .header__nav-links_hidden_pc {
    display: none;
  }
}
@media screen and (max-width: 820px) {
  .header__nav-links_hidden_tablet-mobile {
    display: none;
  }
}
.header__link {
  color: black;
  text-decoration: none;
  background-color: inherit;
  border: none;
  margin: 0 18px 0 0;
  padding: 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  cursor: pointer;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__link_profile {
  font-size: 14px;
  line-height: 16px;
  margin-right: 0;
}
.header__link_auth {
  font-size: 12px;
  line-height: 16px;
  margin-right: 30px;
}
@media screen and (max-width: 530px) {
  .header__link_auth {
    font-size: 10px;
    margin-right: 15px;
  }
}
.header__link_medium {
  font-weight: 400;
}
.header__link_type_btn {
  margin: 0;
  padding: 8px 20px;
  background-color: black;
  color: white;
  border-radius: 3px;
}
@media screen and (max-width: 530px) {
  .header__link_type_btn {
    padding: 5px 12px;
  }
}
.header__nav-link-icon {
  background-color: #f9f9f9;
  width: 10px;
  height: 10px;
  margin-left: 13px;
  border-radius: 6px;
  background-image: url('../../images/profile-icon.svg');
  background-repeat: no-repeat;
  background-position: center center;
  padding: 10px;
}
.header__nav-link-icon:hover {
  background-color: var(--bgcolor-extra);
}
.header__link:hover {
  opacity: 0.8;
}
.header__btn-menu {
  width: 44px;
  height: 41px;
  padding: 0;
  margin-right: 0px;
  border: none;
  background: url('../../images/menu-icon.svg') center center/cover no-repeat;
  cursor: pointer;
  transition: all 0.5s ease;
}
@media screen and (max-width: 530px) {
  .header__btn-menu {
    width: 40px;
  }
}
.header__btn-menu_close {
  background: url('../../images/menu-close-icon.svg') center center/cover
    no-repeat;
  position: fixed;
  z-index: 999;
  right: 20px;
  top: 27px;
  display: block;
  width: 34px;
  height: 20px;
  display: block;
}
@media screen and (max-width: 530px) {
  .header__btn-menu_close {
    width: 32px;
    right: 13px;
    top: 18px;
  }
}
.header__btn-menu:hover {
  opacity: 0.7;
}
.header__icon-menu {
  width: 22px;
  height: 16px;
}
