.filter-checkbox__toggle {
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 3;
  padding-top: 31px;
  padding-bottom: 36px;
  border-bottom: 1px solid #e8e8e8;
  display: inline-flex;
  justify-content: center;
}

.filter-checkbox__toggle-label {
  color: #000000;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: center;
  column-gap: 14px;
  cursor: pointer;
}

.filter-checkbox__toggle-checkbox-invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.filter-checkbox__toggle-checkbox-visible {
  display: block;
  width: 34px;
  height: 14px;
  border-radius: 20px;
  transition: background-color 0.2s ease;
  background-color: var(--bgcolor-medium);
  position: relative;
}

.filter-checkbox__toggle-checkbox-visible::after {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #a0a0a0;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: all 0.2s ease;
}

.filter-checkbox__toggle-checkbox-visible_checked {
  background-color: #2be080;
}

.filter-checkbox__toggle-checkbox-visible_checked::after {
  background-color: #fff;
  left: 22px;
}

.filter-checkbox__error {
  color: red;
  font-weight: 400;
  font-size: 11px;
  line-height: 1;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 26px;
}

@media screen and (max-width: 450px) {
  .filter-checkbox__toggle {
    margin-top: 30px;
  }

  .filter-checkbox__toggle-label {
    font-size: 11px;
    column-gap: 13px;
  }

  .filter-checkbox__error {
    font-size: 10px;
    bottom: 7px;
    left: 15px;
  }
}
