.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 70px 96px;
  box-sizing: border-box;
  width: 100%;
}
@media screen and (max-width: 820px) {
  .section {
    padding: 90px 50px 76px;
  }
}
@media screen and (max-width: 530px) {
  .section {
    min-width: 320px;
    padding: 70px 18px;
  }
}
@media screen and (max-width: 530px) {
  .section_theme_aboutme {
    padding: 51px 14px;
  }
}
.section_theme_movies {
  padding: 0px 70px 0px;
}
@media screen and (max-width: 820px) {
  .section_theme_movies {
    padding: 70px 30px 83px;
  }
}

@media screen and (max-width: 530px) {
  .section_theme_movies {
    padding: 40px 10px 148px;
  }
}
.section_theme_grey {
  background-color: var(--bgcolor-light);
  padding-top: 100px;
  padding-bottom: 100px;
}
@media screen and (max-width: 820px) {
  .section_theme_grey {
    padding-top: 90px;
    padding-bottom: 89px;
  }
}
@media screen and (max-width: 530px) {
  .section_theme_grey {
    padding-top: 60px;
    padding-bottom: 89px;
  }
}
.section_theme_small {
  padding-top: 0;
  padding-bottom: 0;
}
@media screen and (max-width: 820px) and (min-width: 530px) {
  .section_theme_small {
    padding: 0 30px 0px;
  }
}
@media screen and (max-width: 530px) {
  .section_theme_small {
    padding-left: 14px;
    padding-right: 14px;
  }
}
.section_theme_auth {
  padding: 70px 0 0 0;
  width: 396px;
  align-items: flex-start;
  justify-content: center;
}
@media screen and (max-width: 530px) {
  .section_theme_auth {
    padding: 56px 30px;
    width: 320px;
    align-items: center;
  }
}

.section__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  padding-top: 20px;
}
@media screen and (max-width: 530px) {
  .section__title {
    padding-top: 30px;
  }
}
.section__title_big {
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  text-align: center;
}
.section__text {
  padding: 0;
  margin: 18px auto 18px auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #a0a0a0;
}
@media screen and (max-width: 530px) {
  .section__text {
    margin: 14px auto 14px auto;

    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }
}
.section__link {
  padding-left: 5px;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  opacity: 1;
  transition: all 0.5s ease;
}
@media screen and (max-width: 530px) {
  .section__link {
    font-size: 12px;
    padding-left: 7px;
    line-height: 15px;
  }
}
.section__link:hover {
  opacity: 0.8;
}
