.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 110px 70px;
  box-sizing: border-box;
  width: 100%;
}
.section_theme_grey {
  background-color: var(--bgcolor-light);
}
.section_theme_small {
  padding-top: 0;
  padding-bottom: 0;
}
