.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 70px;
  box-sizing: border-box;
  width: 100%;
}
@media screen and (max-width: 820px) {
  .footer {
    padding: 0 30px;
  }
}
@media screen and (max-width: 530px) {
  .footer {
    padding: 0 10px;
  }
}
.footer__about-project {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #a0a0a0;
  display: block;
  width: 100%;
  border-bottom: 1px solid #a0a0a0;
  padding-top: 88px;
  padding-bottom: 20px;
}
@media screen and (max-width: 820px) {
  .footer__about-project {
    padding-top: 74px;
  }
}
@media screen and (max-width: 530px) {
  .footer__about-project {
    font-size: 12px;
    line-height: 15px;
    padding-top: 78px;
    border-bottom: 1px solid var(--bgcolor-medium);
  }
}
.footer__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 530px) {
  .footer__navigation {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
.footer__copyright {
  padding: 20px 0;
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
@media screen and (max-width: 530px) {
  .footer__copyright {
    padding: 29px 0;
    font-size: 12px;
    line-height: 15px;
  }
}
.footer__nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0 0 2px 0;
}
@media screen and (max-width: 530px) {
  .footer__nav-links {
    padding: 0;
    padding-top: 30px;
    flex-direction: column;
  }
}
.footer__nav-link-item {
  padding: 5px 0 0 0;
  margin: 0;
}
.footer__nav-link-item:first-of-type {
  padding: 0;
}
.footer__nav-link {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  color: black;
  text-decoration: none;
  transition: 0.5s ease;
  padding-left: 20px;
}
.footer__nav-link:hover {
  opacity: 0.8;
}
@media screen and (max-width: 530px) {
  .footer__nav-link {
    font-size: 12px;
    line-height: 15px;
    padding-left: 0;
  }
}
