.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 70px;
  box-sizing: border-box;
  width: 100%;
}
.footer__about-project {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #a0a0a0;
  display: block;
  width: 100%;
  border-bottom: 1px solid #a0a0a0;
  padding-top: 79px;
  padding-bottom: 20px;
}
.footer__navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.footer__copyright {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}
.footer__nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer__nav-link {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  color: black;
  text-decoration: none;
  transition: 0.5s ease;
  padding-left: 20px;
}
.footer__nav-link:hover {
  opacity: 0.8;
}
