.like-button {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #f9f9f9;
  border-radius: 36px;
  border: none;
  transition: all 0.5s ease;
  cursor: pointer;
}
.like-button_active {
  color: #ff4062;
}
.like-button:hover {
  scale: 1.1;
}
