.techs__title {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  padding-top: 90px;
  max-width: 460px;
}
@media screen and (max-width: 820px) {
  .techs__title {
    padding-top: 80px;
  }
}
@media screen and (max-width: 530px) {
  .techs__title {
    padding-top: 60px;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
  }
}

.techs__description {
  margin: 0;
  padding: 26px 0 0;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.04em;
  max-width: 460px;
}
@media screen and (max-width: 820px) {
  .techs__description {
    padding: 22px 0 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -0.04em;
  }
}
@media screen and (max-width: 530px) {
  .techs__description {
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    padding: 24px 0 0;
  }
}
.techs__list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 100px 0 0;
}
@media screen and (max-width: 820px) {
  .techs__list {
    padding: 83px 0 0;
  }
}
@media screen and (max-width: 530px) {
  .techs__list {
    padding: 50px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}

.techs__list-item {
  margin: 0 5px 0 5px;
  padding: 21px 0 22px;
  border-radius: 10px;
  width: 90px;
  background-color: var(--bgcolor-medium);
}
@media screen and (max-width: 820px) {
  .techs__list-item {
    width: 84px;
  }
}
@media screen and (max-width: 530px) {
  .techs__list-item {
    margin: 0;
    padding: 21px 0;
  }
}
.techs__list-text {
  margin: 0;
  padding: 0;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.04em;
}
@media screen and (max-width: 820px) {
  .techs__list-text {
    font-size: 12px;
    line-height: 15px;
  }
}
@media screen and (max-width: 530px) {
  .techs__list-text {
    font-size: 12px;
    line-height: 15px;
  }
}
