@import url(./vendor/font.css);

body {
  margin: 0;
  padding: 0;
}

:root {
  --bgcolor-main: #fff;
  --bgcolor-light: #f5f5f5;
  --bgcolor-medium: #e8e8e8;
  --bgcolor-extra: #807777;
  --textcolor-main: #000;
  --bgcolor-action: #2be080;
  --max-section-width: 1280px;
  --min-section-width: 320px;
}
